<app-nav></app-nav>

<div class="container mt-5">
  <app-city-selector (citySelected)="onCitySelected($event)"></app-city-selector>

  <div *ngIf="city; else noCity" class="mt-4">
    <h2>City: {{ city.places[0]['place name'] }}</h2>
    <h2>State: {{ city.places[0].state }}</h2>
    <h2>Country: {{ city.country }}</h2>
  </div>

  <ng-template #noCity>
    <div *ngIf="errorMessage" class="alert alert-danger">
      <p>{{ errorMessage }}</p>
    </div>
    <div *ngIf="!errorMessage" class="alert alert-info">
      <h2>No city selected</h2>
    </div>
  </ng-template>
</div>