<h1>{{title}}</h1>

<!--
- Expected city data from API:
{
    "post code": "10245",
    "country": "Germany",
    "country abbreviation": "DE",
    "places": [
        {
            "place name": "Berlin Friedrichshain",
            "longitude": "13.4",
            "state": "Berlin",
            "state abbreviation": "BE",
            "latitude": "52.5167"
        }
    ]
}

- Output:
  - City: Berlin Friedrichshain
  - State: Berlin
  - Country: Germany


-->

<div>
  @if(city){
  <h2>City: {{city.places[0]['place name']}}</h2>
  <h2>State: {{city.places[0].state}}</h2>
  <h2>Country: {{city.country}}</h2>
  }
  <h2>No city found</h2>

</div>