<app-nav></app-nav>

<div class="container" style="margin-top: 100px;">
  <app-city-selector (citySelected)="onCitySelected($event)"></app-city-selector>

  <div *ngIf="city; else noCity">
    <h2>City: {{ city.places[0]['place name'] }}</h2>
    <h2>State: {{ city.places[0].state }}</h2>
    <h2>Country: {{ city.country }}</h2>
  </div>

  <ng-template #noCity>
    <div *ngIf="errorMessage">
      <p class="error">{{ errorMessage }}</p>
    </div>
    <div *ngIf="!errorMessage">
      <h2>No city selected</h2>
    </div>
  </ng-template>
</div>